/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(to top, #F5F5F7 65%,#376085 50%, #4B769B 90%, #6D91AF 130%);
}

.main-box {
  margin: 83px 100px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-phone-box {
  width: 360px;
  height: 560px;
}

.nav-box {
  margin-left: 80px;
  margin-bottom: 20px
}

.nav-brand-box {
  margin-left: 5px;
}

.nav-btn-login {
  display: flex;
  float: right;
  margin-top: 18px;
  padding: 10px 15px 10px 0;
  background: linear-gradient(to top, #4B769B 50%, #6D91AF 100%);
  color: white;
  border: 2px solid #356187;
  border-radius: 5%;
  margin-right: 11px;
  font-weight: 700;
  transform: translateY(0);
  transition: transform 1s;
}

.nav-btn-login:hover {
  cursor: pointer;
  text-shadow: 2px 2px #356187;
  transform: translateY(-2px);
  transition: transform 1s;
}

.nav-btn-img {
  padding-right: 10px;
  margin-left: 10px;
}

.section-box {
background-repeat: no-repeat;
  background-image: url(../images/frame.png);
  background-size: 100%;
  margin-left: 80px;
  padding: 40px 50px 50px 50px;
}

.section-h2 {
  font-size: 30px;
  color: #0B355B;
}

.section-p {
  font-size: 18px;
  margin: 20px 0;
  text-shadow: 1px 1px lightgrey;
}

.section-img {
  margin-top: 35px;
}

.section-img-iphone {
  margin-right: 20px;
  cursor: pointer;
}

.section-img-android {
  cursor: pointer;
}

.footer-box {
  margin-bottom: 55px;
  font-weight: bold;
}

.footer-links-box {
  margin-top: 9px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}

.footer-links {
  color: #6A8DAC;
  text-decoration: none;
  margin-right: 20px;
}

.footer-links:hover {
  cursor: pointer;
  color: #356187;;
}

.footer-links-a {
  color: #B7B8B8;
}